<div class="channels">
    <div class="chanel"><div class="user-image">
        
    </div>
    <div class="chanel-info">
        <h2>Tom</h2>
        <p>Hey there..</p>
    </div>
    </div>
    <div class="chanel"><div class="user-image">
        
    </div>
    <div class="chanel-info">
        <h2>Tom</h2>
        <p>Hey there..</p>
    </div>
    </div>
    <div class="chanel"><div class="user-image">
        
    </div>
    <div class="chanel-info">
        <h2>Tom</h2>
        <p>Hey there..</p>
    </div>
    </div>
    <div class="chanel"><div class="user-image">
        
    </div>
    <div class="chanel-info">
        <h2>Tom</h2>
        <p>Hey there..</p>
    </div>
    </div>
    <div class="chanel"><div class="user-image">
        
    </div>
    <div class="chanel-info">
        <h2>Tom</h2>
        <p>Hey there..</p>
    </div>
    </div>
</div>